.topBarStyle {
  display: flex;
  overflow: hidden;
  /* overflow-x: auto; */
  position: absolute;
  width: 100%;
  background: rgb(220, 240, 250);
  z-index: 3;
  /* align-items: center; */
  padding: 0px 20px;
  transition: all 0.2s ease-out;
  /* border: solid 1px black; */
  height: 90px;
}

.topBarLabel {
  display: flex;
  align-items: center;
  /* min-width: 120px; */
  border-radius: 30px;
  background: white;
  margin: 5px;
}
.topBarLabel:hover {
  background: azure;
}
.topBarLabel:active {
  background: deepskyblue;
}

.actionBubblesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.actionBubble {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 50px;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  max-width: 25%;
  text-align: center;
  flex: 0.5;
}
.actionBubble:hover {
  background: azure;
  cursor: pointer;
}
.actionBubble:active {
  background: DeepSkyBlue;
}

.actionBubbles {
  border: black solid 1px;
  width: 100%;
}
